In [8]:
from  sqlalchemy import  *
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy import create_engine, func

In [9]:
engine = create_engine('sqlite:///BEER.sqlite.db')

Base = automap_base()
Base.prepare(engine, reflect = True)

In [10]:
conn = engine.connect()
df = pd.read_sql('SELECT * FROM annual_production;',conn)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
index                           122 non-null int64
Year                            122 non-null float64
Barrels (31 gallons) (2)        122 non-null object
Number of Breweries (1)         122 non-null object
Total Barrels (3)               122 non-null object
Taxable Removals (4)            122 non-null object
Total Shipped (Exported) (6)    122 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 6.8+ KB

In [12]:
engine.echo = True

In [13]:
metadata = MetaData(engine)

In [14]:
metadata.reflect()

2019-03-30 07:17:14,709 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-30 07:17:14,711 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,713 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("annual_production")
2019-03-30 07:17:14,714 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,717 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'annual_production' AND type = 'table'
2019-03-30 07:17:14,718 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,720 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("annual_production")
2019-03-30 07:17:14,721 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,723 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'annual_production' AND type = 'table'
2019-03-30 07:17:14,724 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,726 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("annual_production")
2019-03-30 07:17:14,727 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,730 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_annual_production_index")
2019-03-30 07:17:14,731 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,733 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("annual_production")
2019-03-30 07:17:14,736 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,738 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_annual_production_index")
2019-03-30 07:17:14,739 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:14,742 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'annual_production' AND type = 'table'
2019-03-30 07:17:14,743 INFO sqlalchemy.engine.base.Engine ()

In [15]:
session = Session(engine)

In [16]:

inspector = inspect(engine)

In [17]:
for table_name in inspector.get_table_names():
   for column in inspector.get_columns(table_name):
       print("Column: %s" % column['name'])

2019-03-30 07:17:16,884 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-30 07:17:16,885 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 07:17:16,888 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("annual_production")
2019-03-30 07:17:16,889 INFO sqlalchemy.engine.base.Engine ()
Column: index
Column: Year
Column: Barrels (31 gallons) (2)
Column: Number of Breweries (1)
Column: Total Barrels (3)
Column: Taxable Removals (4)
Column: Total Shipped (Exported) (6)

In [69]:
inspector.('annual_production')

[{'name': 'index',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Year',
  'type': REAL(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Barrels (31 gallons) (2)',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Number of Breweries (1)',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Total Barrels (3)',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Taxable Removals (4)',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Total Shipped (Exported) (6)',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

In [18]:
Base.classes.values()

[]

In [20]:
results = session.query(annual_production).all()

NameError: name 'annual_production' is not defined